<!DOCTYPE html>
<html lang="tr">
<head>
    <title>@ViewData["Title"] | Dim Panel</title>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="description" content="Otomotiv Dim Panel"/>
    <meta name="keywords" content="Otomotiv,Doğuş Otomotiv, Dim"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="canonical" href="https://preview.keenthemes.com/start"/>
    <link rel="shortcut icon" href="~/images/logos/dim-logo.jpg"/>
    <link rel="stylesheet" href="~/fonts/poppins.css"/>
    <link href="~/css/global/plugins.bundle.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/global/style.bundle.css" rel="stylesheet" type="text/css"/>
</head>

<body id="kt_body" class="bg-white header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed toolbar-tablet-and-mobile-fixed aside-enabled aside-fixed toolbar-height">
@RenderBody()

<script src="~/js/global/plugins.bundle.js"></script>
<script src="~/js/global/scripts.bundle.js"></script>
</body>
</html>